package ${app_package}.action;

import org.smart4j.framework.mvc.annotation.Action;
import org.smart4j.framework.mvc.annotation.Request;
import org.smart4j.framework.mvc.bean.Result;

@Action
public class ${action_name_p}Action {

    @Request.Get("/${action_name_u}")
    public Result index() {
        return new Result(true);
    }
}
