package ${app_package};

import org.smart4j.framework.orm.annotation.Entity;

@Entity
public class ${entity_name_p} {
#foreach($field in ${field_list})

    private ${field.type} ${field.name}; // ${field.comment}
#end
#foreach($field in ${field_list})
#set($fieldName = $SU.firstToUpper(${field.name}))

    public ${field.type} get${fieldName}() {
        return ${field.name};
    }

    public void set${fieldName}(${field.type} ${field.name}) {
        this.${field.name} = ${field.name};
    }
#end
}
