#foreach($entry in ${tableMap.entrySet()})
#set ($table = ${entry.key})
#set ($columnList = ${entry.value})
#set ($tableName = ${table.name})
#set ($pk = ${table.pk})
DROP TABLE IF EXISTS `${tableName}`;
CREATE TABLE `${tableName}` (
#foreach($column in ${columnList})
    `${column.name}` ${column.type}#if(${column.length} != 0 && ${column.precision} != 0)(${column.length},${column.precision})#elseif(${column.length} != 0)(${column.length})#end #if(${column.notnull} == 1)NOT NULL#end #if(${column.pk} == 1)AUTO_INCREMENT#end #if(${column.comment} != '')COMMENT '${column.comment}'#end,
#end
    PRIMARY KEY (`${pk}`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;

#end