package ${app_package}.service.impl;

import com.smart.framework.annotation.Service;
import ${app_package}.service.${service_name_p}Service;

@Service
public class ${service_name_p}ServiceImpl implements ${service_name_p}Service {
}
