app.package=${app_package}
app.www_path=/www/
app.home_page=/www/html/index.html

jdbc.driver=com.mysql.jdbc.Driver
jdbc.url=jdbc:mysql://localhost:3306/${db_name}
jdbc.username=root
jdbc.password=root