smart.framework.app.name=${app_name}
smart.framework.app.base_package=${app_package}
smart.framework.app.www_path=/www/
smart.framework.app.home_page=/www/html/index.html

smart.framework.jdbc.driver=com.mysql.jdbc.Driver
smart.framework.jdbc.url=jdbc:mysql://localhost:3306/${db_name}
smart.framework.jdbc.username=root
smart.framework.jdbc.password=root