package ${app_package}.action;

import smart.framework.annotation.Action;
import smart.framework.annotation.Request;
import smart.framework.bean.Result;
import java.util.Map;

@Action
public class ${action_name_p}Action {

    @Request.Get("/${action_name_u}")
    public Result index() {
        // TODO
        return new Result(true);
    }

    @Request.Post("/${action_name_u}/search")
    public Result search(Params params) {
        // TODO
        return new Result(true);
    }

    @Request.Get("/${action_name_u}/view/{id}")
    public Result view(long id) {
        // TODO
        return new Result(true);
    }

    @Request.Post("/${action_name_u}/create")
    public Result create(Params params) {
        // TODO
        return new Result(true);
    }

    @Request.Put("/${action_name_u}/update/{id}")
    public Result update(long id, Params params) {
        // TODO
        return new Result(true);
    }

    @Request.Delete("/${action_name_u}/delete/{id}")
    public Result delete(long id) {
        // TODO
        return new Result(true);
    }
}
