package ${app_package}.action;

import com.smart.framework.annotation.Bean;
import com.smart.framework.annotation.Request;
import com.smart.framework.base.BaseAction;
import com.smart.framework.bean.Result;
import java.util.Map;

@Bean
public class ${action_name_p}Action extends BaseAction {

    @Request("get:/${action_name_u}")
    public Result index() {
        // TODO
        return new Result(true);
    }

    @Request("post:/${action_name_u}/search")
    public Result search(Map<String, Object> fieldMap) {
        // TODO
        return new Result(true);
    }

    @Request("get:/${action_name_u}/view/{id}")
    public Result view(long id) {
        // TODO
        return new Result(true);
    }

    @Request("post:/${action_name_u}/create")
    public Result create(Map<String, Object> fieldMap) {
        // TODO
        return new Result(true);
    }

    @Request("put:/${action_name_u}/update/{id}")
    public Result update(long id, Map<String, Object> fieldMap) {
        // TODO
        return new Result(true);
    }

    @Request("delete:/${action_name_u}/delete/{id}")
    public Result delete(long id) {
        // TODO
        return new Result(true);
    }
}
